html, body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", sans-serif;
}

header {
    background: linear-gradient(to right, red, blue);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

header span {
    padding: 15px;
    font-size: 1.7em;
    font-weight: bold;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    column-gap: 10px;
    row-gap: 15px;
}

.card {
    padding: 25px;
    margin: 5px;
    border: 2px rgba(0,0,0,0.5) solid;
    border-radius: 5px;
}

.card-title {
    font-size: 2rem;
    background: -webkit-linear-gradient( red, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-body {
    font-size: 1.22rem;
}

#repo-list {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.repository {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}