body {
  background-color: #454545;
}

.card{
  background-color: #212121;
}

.mdl-card__title-text a {
  text-decoration: none;
}

.mdl-card__supporting-text a {
  text-decoration: none;
}

/* Added by Giova in favor of accessibility */

.mdl-layout__tab { 
  color: black; 
}

.mdl-layout__tab.is-active { 
  color: black; 
  font-weight: bold; 
} 

.mdl-layout.is-upgraded .mdl-layout__tab.is-active {
  color: black;
}

.mdl-card__supporting-text {
  /* Up from 1rem */
  font-size: 1.125rem; 
}